*{
    margin: 0;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.flex-container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
}

.grid-container{
    margin-top: 130px;
    display: grid;
    height: 50vh;
    width: 30vw;
    grid-template-columns: repeat(4,60px);
    grid-template-rows: repeat(5,60px);
    justify-content: center;
    align-items: center;
    margin-top: 0;
}

.button-box{
    width: 50px;
    height: 50px;
    border-width: 3px;
    font-size: 30px;
    border-color: #18e24ade;
    background-color: rgba(255, 255, 255, 0);
    color: whitesmoke;
}

    .button-box:hover{
        background-color: #18e24ade;
    }

.operations, .dot{
    border-color: aqua;
}
    .operations:hover, .dot:hover{
        background-color:aqua;
    }

#equal, #delete{
    border-color: rgb(106, 11, 214);
}
    #equal:hover, #delete:hover{
        background-color: rgb(106, 11, 214);
    }


.calculator-display{
    display: flex;
    height: 50px;
    width: 170px;
    grid-column: 1/4;
    grid-row: 1/2;
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    font-size: 1.3em;
    justify-content: flex-end;
    align-items: center;
    
}


